<!DOCTYPE html>
<html lang="en">

<header>
  <title>TinyApp</title>
  <% include ./partials/_header %>
  </header>
<body>

<table>
  <thead>
    <tr>
      <th>tiny URL</th>
      <th>not-so-tiny URL</th>

    </tr>
  </thead>
  <tbody>
    <% if (user) {%>
    <% for (var shortURL in urls) { %>
    <tr>
      <td><a href="/urls/<%=shortURL%>"><%= shortURL %></a></td>
      <td><a href="<%= urls[shortURL].longURL%>"><%=urls[shortURL].longURL%></a></td>
      <td>
        <form action="/urls/<%=shortURL%>/delete" method="POST">
          <input type="submit" id="DELETE" value="DELETE" style="width: 60px">
        </form>
      </td>
      <td>
        <form action="/urls/<%=shortURL%>" method="GET">
        <input type="submit" id="EDIT" value="EDIT" style="width:60px">
      </form>
      </td>
    </tr>
    <% } %>
      <%} else {%>
    <a href="/register">register</a><br />
    <a href="/login">login</a>
  <%}%>
  </tbody>
</table>
</body>
</html>