<% let pageTitle = "TinyApp - Your URLs"; %>
<% include ./partials/_header %>


  <% if (user) {%>
    <p>let's <a href="/urls/new">shrink</a> some links</p>
    <table>
      <thead>
        <tr>
          <span style="font-size:9.5px">
          <th>tiny URL</th>
          <th>not-so-tiny URL</th>
          </span>
        </tr>
      </thead>
      <tbody>
        <% for (var shortURL in urls) { %>
          <tr>
            <td><a href="/urls/<%=shortURL%>"><%= shortURL %></a></td>
            <td><a target="_blank" href="<%= urls[shortURL].longURL%>"><%=urls[shortURL].longURL%></a></td>
            <td>
              <form action="/urls/<%=shortURL%>/delete" method="POST">
                <input type="submit" id="DELETE" value="DELETE" style="width: 60px">
              </form>
            </td>
            <td>
              <form action="/urls/<%=shortURL%>" method="GET">
              <input type="submit" id="EDIT" value="EDIT" style="width:60px">
            </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  <%} else {%>
    <p>error <br /> you must <a href="/login">log in</a> to shrink stuff</p>
  <%}%>
</body>
</html>